@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
:root {
  --astro-code-color-text: #24292e;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #005cc5;
  --astro-code-token-string: #032f62;
  --astro-code-token-comment: #6a737d;
  --astro-code-token-keyword: #d73a49;
  --astro-code-token-parameter: #24292e;
  --astro-code-token-function: #6f42c1;
  --astro-code-token-string-expression: #032f62;
  --astro-code-token-punctuation: #24292e;
  --astro-code-token-link: #032f62;
}